<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home"><img src="../images/4.png" alt="4th dimensional thinkers"
                                                 style="padding-bottom: 30px"></a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#/home">Home</a></li>
        <li><a href="#/newbudget"> Create Budget</a></li>
        <li  class="active"><a href="#/account">My Account</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-click="homeCtrl.logout()" style="cursor:pointer"><a>Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="alert alert-success" ng-show="accountCtrl.success">
  <strong>Success!</strong> Record was saved successfully.
</div>
<div class="alert alert-danger" ng-show="accountCtrl.failure">
  <strong>Error!</strong> Record was not saved successfully.
</div>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#profile">Menu 1</a></li>
  <li><a data-toggle="tab" href="#password">Menu 2</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h3>HOME</h3>
    <p>Some content.</p>
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Menu 1</h3>
    <p>Some content in menu 1.</p>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div>
</div>

<div class="container-fluid text-center">
    <div class="row content">
      <div class="col-sm-8 text-left">
        <h1>Edit Profile</h1>
      </div>
        <table>
          <tr>
            <td><label>First Name:</label></td>
            <td><input type="text" class="form-control" name="firstName" ng-model="accountCtrl.currentUser.firstName" required></td>
          </tr>
          <tr>
            <td><label>Last Name:</label></td>
            <td><input type="text" class="form-control" name="lastName" ng-model="accountCtrl.currentUser.lastName" required></td>
          </tr>
          <tr>
            <td><label>Username</label></td>
            <td><input type="text" class="form-control" name="username" ng-model="accountCtrl.currentUser.username"></td>
          </tr>
        </table>
        <div class="text-center"><button type="submit"  ng-click="accountCtrl.saveUserInfo()">Save Changes</button></div>
      </div>

  <form ng-submit = accountCtrl.submitNewPassword() ng-if = accountCtrl.changePassword>
  <div class="row content">
    <div class="col-sm-8 text-left">
      <h1>Change Password</h1>
    </div>
    <table>
      <tr>
        <td><label>User Name:</label></td>
        <td><input type="text" class="form-control" name="username" placeholder="Enter username" ng-model="accountCtrl.username" required></td>
      </tr>
      <tr>
        <td><label>Old Password:</label></td>
        <td><input type="password" class="form-control" name="oldPassword" placeholder="Enter current password" ng-model="accountCtrl.oldPassword" required></td>
      </tr>
      <tr>
        <td><label>New Password:</label></td>
        <td><input type="password" class="form-control" name="newPassword" placeholder="Enter new password" ng-model="accountCtrl.newPassword"></td>
      </tr>
      <tr>
        <td><label>Confirm New Password</label></td>
        <td><input type="password" class="form-control" name="confNewPassword" placeholder="Re-enter new password" ng-model="accountCtrl.confNewPassword"></td>
      </tr>
      <p ng-if="accountCtrl.noMatch" style="color:red">Passwords entered don't match</p>
      <tr>
        <td></td>
      </tr>
    </table>
    <div class="text-center"><button type="button" style="width:100px" ng-click="accountCtrl.submitNewPassword()">Submit</button></div>
  </div>
</form>
</div>
