<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home"><img src="../images/4.png" alt="4th dimensional thinkers"
                                                 style="padding-bottom: 30px"></a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#/home">Home</a></li>
        <li><a href="#/newbudget"> Create Budget</a></li>
        <li  class="active"><a href="#/account">My Account</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-click="accountCtrl.logout()" style="cursor:pointer"><a>Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="alert alert-success" ng-show="accountCtrl.success">
  <strong>Success!</strong> Record was saved successfully.
</div>
<div class="alert alert-danger" ng-show="accountCtrl.failure">
  <strong>Error!</strong> Record was not saved successfully.
</div>
    <div class="container-fluid text-center">
      <form ng-submit = accountCtrl.submitNewPassword() ng-if = accountCtrl.changePassword>
        <div class="row content">
          <div class="col-sm-8 text-left">
            <h1>Change Password</h1>
          </div>
          <table>
            <tr>
              <td><label>Old Password:</label></td>
              <td><input type="password" class="form-control" name="oldPassword" placeholder="Enter current password" ng-model="accountCtrl.oldPassword" required></td>
            </tr>
            <tr>
              <td><label>New Password:</label></td>
              <td><input type="password" class="form-control" name="newPassword" placeholder="Enter new password" ng-model="accountCtrl.newPassword"></td>
            </tr>
            <tr>
              <td><label>Confirm New Password</label></td>
              <td><input type="password" class="form-control" name="confNewPassword" placeholder="Re-enter new password" ng-model="accountCtrl.confNewPassword"></td>
            </tr>
            <p ng-if="accountCtrl.noMatch" style="color:red">Passwords entered don't match</p>
            <tr>
              <td></td>
            </tr>
          </table>
          <div class="text-center"><button type="button" style="width:100px" ng-click="accountCtrl.submitNewPassword()">Submit</button></div>
        </div>
      </form>
    </div>




