<style>
  td {
    font-size : large;
  }
  thead {
    font-size : large;
  }
</style>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home"><img src="../images/4.png" alt="4th dimensional thinkers"
                                                 style="padding-bottom: 30px"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/home">Home</a></li>
        <li><a href="#/newbudget"> Create Budget</a></li>
        <li><a href="#/account">My Account</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-click="homeCtrl.logout()" style="cursor:pointer"><a>Logout</a></li>
      </ul>
    </div>
  </div>
</nav>


<head>
  <meta charset="UTF-8">
  <title>Budget - {{budgetCtrl.tableData.budgetName}}</title>
</head>
<body>

<h1>Budget Manager -{{budgetCtrl.tableData.budgetName}}</h1>


<table border=1>
  <thead>
  <tr>
    <th></th>
    <th>Category</th>
    <th>Expense</th>
    <th>Allowance</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody ng-repeat="category in budgetCtrl.tableData.categories" ng-switch on="category.edit">
  <tr>
    <td>
      <button ng-if="category.expanded" ng-click="category.expanded = false">-</button>
      <button ng-if="!category.expanded" ng-click="category.expanded = true">+</button>
    </td>
    <td><span ng-switch-when='true'><input type="text" ng-model="category.categoryName"></span>
      <span ng-switch-default><b>{{category.categoryName}}</b></span></td>
    <td><span ng-switch-when='true'><input type="text" ng-model="category.categoryExpenses"></span>
      <span ng-switch-default><b>{{category.categoryExpenses}}</b></span></td>
    <td><span ng-switch-when='true'><input type="text" ng-model="category.categoryLimit"></span>
      <span ng-switch-default><b>{{category.categoryLimit}}</b></span></td>

    <td><button ng-click="budgetCtrl.switchEdit(category)" ng-show="!category.edit">Edit</button>
      <button ng-click="budgetCtrl.switchEdit(category)" ng-show="category.edit">Save</button></td>
  </tr>
  <tr ng-if="category.expanded" ng-repeat="subCat in category.subcategories" ng-switch on ="subCat.edit">
    <td></td>
    <td><span ng-switch-when='true'><input type="text" ng-model="subCat.subcategoryName"></span>
      <span ng-switch-default>{{subCat.subcategoryName}}</span></td>
    <td><span ng-switch-when='true'><input type="text" ng-model="subCat.subcategoryExpenses"></span>
      <span ng-switch-default>{{subCat.subcategoryExpenses}}</span></td>
    <td><span ng-switch-when='true'><input type="text" ng-model="subCat.subcategoryLimit"></span>
      <span ng-switch-default>{{subCat.subcategoryLimit}}</span></td>

    <td><button ng-click="budgetCtrl.switchEdit(subCat)" ng-show="!subCat.edit">Edit</button>
      <button ng-click="budgetCtrl.switchEdit(subCat)" ng-show="subCat.edit">Save</button></td>
  </tr>
  </tbody>
  <tr>
    <td></td>
    <td><b>Total</b></td>
    <td><b>{{budgetCtrl.tableData.budgetExpenses}}</b></td>
    <td><b>{{budgetCtrl.tableData.budgetLimit}}</b></td>
  </tr>
</table>



</body>

<footer class="container-fluid text-center">
  <p>4th Dimensional Thinkers</p>
</footer>
