<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<table>
  <th>Budget Title</th>
  <th>Current Expense Total</th>
  <th>Budget Limit</th>
  <th>Creation Date</th>
  <th>actions</th>
  <tr ng-repeat="budget in homeCtrl.budgets">
  <td><a href="#/budget">{{homeCtrl.name}}</a></td>
    <td>{{homeCtrl.expenseTotal}}</td>
    <td>{{homeCtrl.totalLimit}}</td>
    <td>{{homeCtrl.origDate}}</td>
    <td><button>Delete</button></td>
  </tr>
</table>

<h1>Welcome 4thDimensionalThinkers!</h1>
<br><br><h2>You are logged in as {{homeCtrl.currentUser}}</h2>
</body>
</html>
