<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home"><img src="../images/4.png" alt="4th dimensional thinkers"
                                                 style="padding-bottom: 30px"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <!--<li><a href="#">About</a></li>-->
        <!--<li><a href="#">Projects</a></li>-->
        <!--<li><a href="#">Contact</a></li>-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-8 text-left">
      <h1>Budget Management Application</h1>
    </div>
    <hr>
    <hr>
    <hr>
    <hr>
    <div class="form-signin">
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" name="username" placeholder="Username" ng-model="loginCtrl.username"
             required="" autofocus=""/>
      <input type="password" class="form-control" name="password" placeholder="Password" ng-model="loginCtrl.password"
             required=""/>
      <p ng-if="loginCtrl.failedLogin" style="color:red">Invalid username/password combination</p>
      <div style="{{loginCtrl.style}}" class="spinner"></div>
      <button class="button-primary" type="submit" ng-if="loginCtrl.displayButton" ng-click="loginCtrl.submitBtnEvt()">Login</button>
    </div>
    <!--</div>-->
  </div>

</div>


<footer class="container-fluid text-center">
  <p>4th Dimensional Thinkers</p>
</footer>

